div {
     height: 100px; 
    background-color: pink;
    width: 100px;
 /* border-width: 2px;
 border-style: solid;
 border-color: brown; */
  border: 2px dotted brown;   /*border shorthand wsd(width style color ) */
   /* border-radius: 10px;             border radius used  for rounder border shape */
 /* text-align: right; */
 /* paddingt: 25px; this is padding for all */
padding: 1px 2px 3px 4px;   /*padding shorthand method */
margin: 1px 2px 3px 4px;    /*margin shorthand method */
}
/* h1 {
width: 200px;
height: 50px;
background-color: blueviolet;
border-width: 3px;
border-style: dashed;
border-color: black;
text-align: center;
}
  */